extends layout

block content
  div(class='flex h-full flex-col items-center justify-center gap-6')
    p(class='text-center text-4xl', aria-hidden) 👥
    h1(class='mt-6 text-center text-2xl font-medium tracking-tight text-gray-900') Sign up for an account
    form(action='', method='post', class='flex w-full max-w-sm flex-col')
      label(for='username') Username
      input#username(type='text', name='username')
      label(for='password') Password
      input#password(type='password', name='password')
      label(for='password2') Confirm password
      input#password2(type='password', name='password2')
      button(
        type='submit',
        class='mt-6 rounded-md bg-indigo-600 py-2 font-medium text-white duration-100 hover:bg-indigo-500'
      ) Sign up
